**/.pio
**/.vscode/c_cpp_properties.json
**/.vscode/launch.json
**/secrets
**/data
/config/docs/**
platformio.ini

# exclude Apple Specific files
**./DS_Store

# python specific ignores 
__pycache__/

# does not need to be synched, just for mkdocs locally
site/

