# arduino project .gitignore

/code/arduino/.pio
/code/arduino/.vscode/c_cpp_properties.json
/code/arduino/.vscode/launch.json
/code/arduino/secrets/

# aws project .gitignore

/code/aws/.pio
/code/aws/.vscode/c_cpp_properties.json
/code/aws/.vscode/launch.json
/code/aws/secrets/

# hardware project .gitignore

/code/hardware/.pio
/code/hardware/.vscode/c_cpp_properties.json
/code/hardware/.vscode/launch.json
/code/hardware/secrets/

# exclude Apple Specific files
**./DS_Store

# python specific ignores 
__pycache__/

# does not need to be synched, just for mkdocs locally
site/

